.player {
    display: flex;
    align-items: center;
    gap: 16px;

    span {
        font-size: 32px;
    }

    img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        border-radius: 100%;
    }
}